@font-face {
  font-family: 'Open Sans Condensed';
  src: url('/src/assets/fonts/OpenSans_Condensed-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --principal-color: #8465f2;
  --principal-color-dark: #5e3bb0;
  --secondary-color: #ff6d38;
  --left-circle-hover: .7vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  font-family: 'Open Sans Condensed', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

.testing {
  position: relative;
  width: 100%;
  height: 100%;
}
